<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Symmetry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Symmetry.Properties.Settings>
            <setting name="MaxConnections" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientTimeout" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="RecvTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SendTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SvnPath" serializeAs="String">
                <value>/var/www/svn/files/</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>11337</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="DB_Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DB_Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Database" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_ForumDatabase" serializeAs="String">
                <value>mybb</value>
            </setting>
            <setting name="DB_ForumPrefix" serializeAs="String">
                <value>mybb_</value>
            </setting>
            <setting name="DB_SymDatabase" serializeAs="String">
                <value>symmetry</value>
            </setting>
            <setting name="DB_SymUserTable" serializeAs="String">
                <value>users</value>
            </setting>
            <setting name="InjectorPath" serializeAs="String">
                <value>/var/www/svn/files/Symmetry_U/bin/</value>
            </setting>
            <setting name="InjectorName" serializeAs="String">
                <value>symmetry.dll</value>
            </setting>
            <setting name="ReplaceEnginePath" serializeAs="String">
                <value>/var/www/svn/files/Symmetry_R/bin/reng.exe</value>
            </setting>
            <setting name="InjectorUIPath" serializeAs="String">
                <value>/var/www/svn/files/Symmetry_UI/bin/</value>
            </setting>
            <setting name="InjectorUIName" serializeAs="String">
                <value>symmetry.exe</value>
            </setting>
            <setting name="IsLocalServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SvnVersionFile" serializeAs="String">
                <value>/var/www/svn/symmetry/db/current</value>
            </setting>
            <setting name="SubscriptionURL" serializeAs="String">
                <value>http://sym.hexisoft.com/pricing/</value>
            </setting>
            <setting name="PingReplyDelay" serializeAs="String">
                <value>3000</value>
            </setting>
        </Symmetry.Properties.Settings>
    </applicationSettings>
</configuration>